---
---

@import "{{ site.theme }}";

.wrapper {
    width: 100%;
}

header {
    width: 20%;
}

section {
    width: 70%;
    font-family: "New Century Schoolbook","Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-size: 1.2em;

}

.wrapper ul li{
    border-bottom: 3px dotted gray;
}

.wrapper ul li h2 {
    margin: 20px;
}