---
---

@import "{{ site.theme }}";

.wrapper {
    width: 1400px;
}

/*
header {
    width: 100px;
}
*/
section {
    width: 70%;
    font-family: "New Century Schoolbook","Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-size: 1.2em;

}

@media only screen and (max-width: 600px) {
    section {
        width: 100%;
    }
}

.wrapper ul li{
    border-bottom: 3px dotted gray;
}

.wrapper ul li h2 {
    margin: 20px;
}